PORT=5000
MONGO_URI=mongodb://akshatavs1122_db_user:27RRkQxxrtlhqGmJ@ac-srymnir-shard-00-00.95w6xm8.mongodb.net:27017,ac-srymnir-shard-00-01.95w6xm8.mongodb.net:27017,ac-srymnir-shard-00-02.95w6xm8.mongodb.net:27017/?ssl=true&replicaSet=atlas-z8rxma-shard-0&authSource=admin&appName=Cluster0
ML_SERVICE_URL=http://localhost:8000
JWT_SECRET=my_secret_key_123
ML_API_URL=http://127.0.0.1:8000